<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Valor</label>
<input type="number" class="form-control" formControlName="valor" #valor [(ngModel)] = "conversion.valor"/>
</div>
<div *ngIf="angForm.controls['valor'].invalid && (angForm.controls['valor'].dirty || angForm.controls['valor'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['valor'].errors.required">
Valor es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Unidad</label>
<input type="text" class="form-control" formControlName="unidad" #unidad [(ngModel)] = "conversion.unidad"/>
</div>
<div *ngIf="angForm.controls['unidad'].invalid && (angForm.controls['unidad'].dirty || angForm.controls['unidad'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['unidad'].errors.required">
Unidad es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Convertira</label>
<input type="text" class="form-control" formControlName="convertira" #convertira [(ngModel)] = "conversion.convertira"/>
</div>
<div *ngIf="angForm.controls['convertira'].invalid && (angForm.controls['convertira'].dirty || angForm.controls['convertira'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['convertira'].errors.required">
Convertira es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateConversion(valor.value, unidad.value, convertira.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Conversion</button>
  </div>

    </form>
  </div>
</div>