<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<body >

</body>
 <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
     <li class="nav-item">
<a routerLink="conversion/create" class="nav-link" routerLinkActive="active">
Realizar Conversion
</a>
</li>


    </ul>
  </div>
</nav>
<br />
<div class="container">
  <router-outlet></router-outlet>
</div>