
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Valor</td>
 <td>Unidad</td>
 <td>Convertira</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let conversion of conversion">
<td>{{ conversion.valor}}</td>
<td>{{ conversion.unidad}}</td>
<td>{{ conversion.convertira}}</td>
<td><a [routerLink]="['edit', conversion._id]" class="btn btn-primary">Editar</a>&nbsp;&nbsp;<a (click) = "deleteConversion(conversion._id)" class="btn btn-danger">Borrar</a></td>
         
      </tr>
  </tbody>
</table>
