<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Valor</label>
<input type="number" class="form-control" formControlName="valor" #valor/>
</div>
<div *ngIf="angForm.controls['valor'].invalid && (angForm.controls['valor'].dirty || angForm.controls['valor'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['valor'].errors.required">
Valor es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Unidad</label>

<select class="form-control" formControlName="unidad" #unidad >
  <option>newton</option>
  <option>dinas</option>
  <option>libras</option>
  </select>
</div>
<div *ngIf="angForm.controls['unidad'].invalid && (angForm.controls['unidad'].dirty || angForm.controls['unidad'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['unidad'].errors.required">
Unidad es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Convertir a</label>

<select class="form-control" formControlName="convertira" #convertira >
  <option>newton</option>
  <option>dinas</option>
  <option>libras</option>
  </select>
</div>
<div *ngIf="angForm.controls['convertira'].invalid && (angForm.controls['convertira'].dirty || angForm.controls['convertira'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['convertira'].errors.required">
Convertira es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="addConversion(valor.value, unidad.value, convertira.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary">Crear Conversion</button>
  </div>

    </form>
    <p>valor original: {{respuesta.original_value}} {{respuesta.original_unit}}</p>
    <p>valor convertido: {{respuesta.convert_value}} {{respuesta.convert_unit}}</p>
  </div>
</div>